*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    /* background-color: black; */
    overflow: hidden;
}
  
html, input {
    font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}
body{
    background-color: rgb(236, 235, 217);
    background-image: url('./img/chat-bg.png');
    background-size: 50%;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.login.page{
    background: rgba(120, 75, 164, 1.0);
    background: -webkit-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: -moz-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: linear-gradient(to bottom left, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.login.page .form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.login.page .form h3{
    color: #fff;
    font-weight: 100;
    font-size: 200%;
    padding: 30px 0;
}
.login.page .form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    color: #fff;
    font-weight: 100;
    font-size: 200%;
    letter-spacing: 3px
}
.page .active{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(120, 75, 164, 1.0);
    background: -webkit-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: -moz-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: linear-gradient(to bottom left, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    padding: 3px;
    color: #fff;
}
.page .log{
    margin: 5px;
    color: rgb(214, 41, 41);
    text-align: center;
}
.page .log div{
    width: 26%;
    margin: 0 auto;
    background: rgba(256,256,256,.6);
    box-shadow: -5px 5px 8px rgba(20,20,20,.2);
}
.chat{
    display: none;
    background-color: rgba(248, 247, 228, 0.4)
}
.chat .chatarea{
    width: 100%;
    margin: 20px 0 60px 0;
    overflow-y: scroll;
}
.chatarea::-webkit-scrollbar{
    width:20px
}
.chat .chatarea .messages{
    padding: 5px 4vw;
    width: 100%;
    list-style: none;
    overflow-wrap: break-word;
}
.messages .message{
    width: 100%;
}
.messages .message div{
    padding: 2vh 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.messages .message div span{
    line-height: 22px;
    font-size: 120%;
    border-radius: 5px;
    background: #f5f5f5;
}
.messages .message div .messageBody{
    padding: 10px;
}
.messages .message div .messageBody .dateMsg{
    font-size: 50%;
    color: rgba(256,256,256,.4);
    transform: translateY(12px);
    display: inline-block;
    background: transparent;
}
.msgRight .messageBody .dateMsg {
    color: rgba(0,0,0,.6) !important;
}
.messages .message div .username{
    padding: 5px;
    font-size: 80%;
    font-weight: 700;
    background: #fff;
}
.messages .message .msgRight .messageBody{
    color: #000;
    background-color: rgba(256,256,256,.6);
    box-shadow: -6px 6px 5px 0px rgba(0, 0, 0, 0.3);
}
.messages .message .msgLeft .messageBody{
    color: #fff;
    background-color: rgba(0,0,0,.6);
    box-shadow: -6px 6px 5px 0px rgba(0,0,0, 0.3);
}
.message .msgRight{
    justify-content: flex-end;
}
.message .msgRight .username{
    margin-left: 5px;
}
.message .msgLeft .username{
    margin-right: 5px;
}
.message .msgLeft{
    left: 0%;
}
.page .input{
    width: 100%;
    position: fixed;
    bottom: 0%;
}
.page .input input{
    height:60px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 140%;
    padding: 0px 62px 0px 30px;
    background-color: rgba(256,256,256,1);
    border-radius: 30px;
    cursor: text;
}
.page .input button{
    height: 50px;
    width: 50px;
    margin: 5px 5px;
    padding-bottom: 4px;
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 200%;
    cursor: pointer;
    background: rgba(120, 75, 164, 1.0);
    background: -webkit-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: -moz-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: linear-gradient(to bottom left, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
}

@media only screen and (max-width: 768px){
    body{
        background-image: url('./img/chat-bg.png');
        background-size: cover;
    }
    .messages{
        padding: 5px !important;
    }
    .messages .message div{
        padding: 2vw ;
    }
}