*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
html {
    font-weight: 300;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
    /* position: relative; */
    background-image: url('./img/chat-bg.png');
    background-size: 50%;
    min-height: calc(100vh-60px);
}
html::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(255,255,255,.96);
    
}
.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* min-height: 100vh; */
}
.login.page{
    background: rgba(120, 75, 164, 1.0);
    background: -webkit-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: -moz-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: linear-gradient(to bottom left, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.login.page .form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.login.page .form h3{
    color: #fff;
    font-weight: 100;
    font-size: 2.3rem;
    padding: 30px 0;
}
.login.page .form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    color: #fff;
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 3px
}
.page .active{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(120, 75, 164, 1.0);
    background: -webkit-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: -moz-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: linear-gradient(to bottom left, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    padding: 3px;
    color: #fff;
}
.page .log{
    text-align: center;
    margin: 2vh 0px;
}
.page .log div{
    width: 100%;
    max-width: 300px;
    padding: 3px;
    margin: 0 auto;
    background: #f5f5f5;
    border: 1px solid rgba(0,0,0,.1);
}
.page .log .left{
    color: #d62929;
    background-color: #ffe6e6;
}
.page .log .joined{
    color: #00A15B;
    background-color: #e6fff5;
}
.chat{
    display: none;
    /* background-color: #fff */
}
.chat .chatarea{
    width: 100%;
    margin: 20px 0 60px 0;
    /* overflow-y: scroll; */
}
.chatarea::-webkit-scrollbar{
    width:20px
}
.chat .chatarea .messages{
    /* padding: 5px 4vw; */
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    list-style: none;
    overflow-wrap: break-word;
}
.messages .message{
    width: 100%;
}
.messages .message div{
    padding: 2vh 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.messages .message div span{
    line-height: 22px;
    font-size: 1.2rem;
    border-radius: 5px;
    background: #f5f5f5;
}
.messages .message div .messageBody{
    padding: 10px;
}
.messages .message div .messageBody .dateMsg{
    font-size: .7rem;
    /* color: rgba(256,256,256,.4); */
    color: #333;
    transform: translateY(12px);
    display: inline-block;
    background: transparent;
}
.msgRight .messageBody .dateMsg {
    color: rgba(0,0,0,.6) !important;
}
.messages .message div .username{
    font-size: .9rem;
    font-weight: 700;
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid rgba(0,0,0,.1);
}
.messages .message .msgRight .messageBody{
    color: #000;
    margin-right: 15px;
    border: 1px solid rgba(0,0,0,.1);
}
.messages .message .msgLeft .messageBody{
    color: #000;
    margin-left: 15px;
    border: 1px solid rgba(0,0,0,.1);
}
.message .msgRight{
    justify-content: flex-end;
}
.message .msgRight .username{
    margin-left: 5px;
}
.message .msgLeft .username{
    margin-right: 5px;
}
.message .msgLeft{
    left: 0%;
}
.page .input{
    width: 100%;
    position: fixed;
    bottom: 0%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.page .input input{
    height:60px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0px 62px 0px 30px;
    background-color: rgba(256,256,256,1);
    border-radius: 30px;
    cursor: text;
}
.page .input button{
    height: 50px;
    width: 50px;
    margin: 5px 5px;
    padding-bottom: 4px;
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    background: rgba(120, 75, 164, 1.0);
    background: -webkit-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: -moz-linear-gradient(top right, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
    background: linear-gradient(to bottom left, rgba(120, 75, 164, 1.0), rgba(102, 127, 230, 1.0));
}

@media only screen and (max-width: 768px){
    body{
        background-image: url('./img/chat-bg.png');
        background-size: cover;
    }
    .messages{
        padding: 5px !important;
    }
    .messages .message div{
        padding: 2vw ;
    }
    .page .input input{
        padding: 0px 62px 0px 7px;
        font-size: 1rem;
    }
    .page .input button {
        height: 40px;
        width: 40px;
        margin: 10px 10px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }
}